.CostSections {
  .content {
    p {
      font-size: clamp(18px, 4vw, 28px);
      line-height: 38.7px;
      span {
        color: #36adf0;
      }
    }
    ol {
      padding-top: 20px;
      li {
        padding: 8px 0;
        // font-weight: 500;

        font-size: clamp(15px, 6vw, 22px);
      }
    }
  }
}
