.PhotoSections {
  .content {
    .block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px;
    }
  }
  @media (max-width: 450px) {
    .content {
      .block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;

        .img {
          width: calc(50% - 10px);
          height: auto;
          margin-bottom: 10px;
        }
      }
    }
  }
}
