.PhotoSections {
  .content {
    .block {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-wrap: wrap;
      .img {
        margin: 30px;
      }
    }
  }
}

@media (max-width: 375px) {
  .PhotoSections {
    .content {
      .block {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        .img {
        }
      }
    }
  }
}
