.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  select {
    width: 200px;
    height: 24px;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;

    option {
      width: max-content;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 24.38px;
    }
  }
}
