.OtherExam {
	margin: 100px 0px;

	.content {
		h1 {
			color: rgb(33, 33, 33);
			font-family: Gilroy;
			font-size: 48px;
			font-weight: 600;
			line-height: 58px;
			letter-spacing: 0%;
			text-align: left;
			position: relative;
			text-transform: capitalize;
			margin-bottom: 40px;

			&::before {
				content: '';
				position: absolute;
				width: 126px;
				left: 0;
				bottom: -10px;
				height: 3px;
				background-color: rgb(100, 131, 246);
				border-radius: 2px;
			}
		}

		.photos {
			width: 100%;
			object-fit: cover;
		}

		h2 {
			color: rgb(0, 42, 192);
			font-family: Montserrat;
			font-size: 36px;
			font-weight: 500;
			margin-top: 77px;
		}

		p {
			color: rgb(1, 13, 57);
			font-family: Montserrat;
			font-size: 20px;
			font-weight: 400;
			margin-top: 16px;

			span {
				color: rgb(51, 51, 51);
				font-family: Montserrat;
				font-size: 20px;
				font-weight: 400;
			}
		}

		ul {
			gap: 24px;
			display: flex;
			align-items: start;
			justify-content: space-between;
			flex-direction: column;
			margin-top: 26px;
			padding-left: 20px;

			li {
				position: relative;
				color: rgb(51, 51, 51);
				font-family: Montserrat;
				font-size: 20px;
				font-weight: 400;
				line-height: 24px;
				padding-left: 20px;
				a {
					color: blue;
					text-decoration: underline;
				}
				span {
					font-weight: 500;
				}
				&::before {
					content: '•';
					position: absolute;
					left: 0;
					top: 0;
					color: rgb(51, 51, 51);
					font-size: 1.2em;
					line-height: 24px;
				}
			}
		}
	}
}

@media (max-width: 425px) {
	.OtherExam {
		.content {
			.photos {
				width: 100%;
				height: 266px;
			}
			ul {
				padding-left: 0;
				.active {
					padding-left: 0;
					&::before {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.OtherExam {
		.content {
			h1 {
				font-size: 40px;
			}
			h2 {
				font-size: 30px;
			}
		}
	}
}
