.Exams {
	padding: 17px 0px 71px 0px;
	.content {
		.contentText {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 30px;
			h1 {
				color: rgb(33, 33, 33);
				font-family: Gilroy;
				font-size: 48px;
				font-weight: bold;
			}
			p {
				color: rgb(1, 13, 57);
				max-width: 675px;
				font-family: Montserrat;
				font-size: 20px;
				font-weight: 400;
				line-height: 24px;
				text-align: center;
			}
		}
		.blocks {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 63px;
			.block {
				width: 466px;
				height: 546px;
				border-radius: 8px;
				background: rgb(255, 255, 255);
				transition: 0.3s ease-in-out;
				border-radius: 8px;
				box-shadow: 5px 8px 24px 0px rgba(0, 0, 0, 0.15);
				&:hover {
					transform: scale(1.1);
				}
				.cambrige {
					color: rgb(0, 42, 192);
					font-family: Gilroy;
					font-size: 16px;
					font-weight: 600;
					line-height: 20px;
					margin-left: 24px;
				}
				h2 {
					color: rgb(0, 18, 84);
					font-family: Montserrat;
					font-size: 18px;
					font-weight: 500;
					margin: 13px 0px 19px 24px;
				}
				p {
					color: rgb(0, 0, 0);
					margin: 0px 0px 13px 24px;
					font-family: Montserrat;
					font-size: 12px;
					font-weight: 400;
					max-width: 375px;
				}
				button {
					border: none;
					background-color: transparent;
					outline: none;
					cursor: pointer;
					align-self: center;
					margin: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					a {
						color: rgb(26, 162, 238);
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: Montserrat;
						font-size: 14px;
						font-weight: 500;
					}
				}
			}
			.boxes {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 19px;
				.box {
					position: relative;
					width: 579px;
					height: 170px;
					border: 1px solid rgb(187, 187, 187);
					border-radius: 8px;
					background: rgb(255, 255, 255);
					display: flex;
					align-items: center;
					justify-content: space-around;
					padding-right: 30px;
					transition: 0.4s ease-in-out;
					&:hover {
						transform: scale(1.1);
					}
					cursor: pointer;

					img {
						margin-left: 24px;
					}
					.boxContent {
						display: flex;
						justify-content: start;
						flex-direction: column;
						margin-left: 22px;
						.Aptis {
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 4px;
							background: rgba(0, 117, 255, 0.15);
							color: rgb(0, 42, 192);
							font-family: Gilroy;
							font-size: 14px;
							font-weight: 400;
							width: 60px;
							height: 22px;
						}
						h2 {
							color: rgb(0, 18, 84);
							font-family: Montserrat;
							font-size: 18px;
							font-weight: 500;
							max-width: 262px;
							margin: 10px 0px;
						}
						p {
							color: rgb(1, 13, 57);
							font-family: Montserrat;
							font-size: 12px;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.Exams {
		.content {
			.contentText {
				justify-content: start;
				align-items: start;
				p {
					align-items: start;
				}
			}
			.blocks {
				.boxes {
					.box {
						width: 434px;
						height: 155px;
						img {
							width: 141px;
							height: 98px;
							margin-left: 18px;
						}
						.boxContent {
							.Aptis {
								width: 44px;
								height: 16px;
								font-size: 10px;
							}
							h2 {
								font-size: 13px;
							}
							p {
								font-size: 9px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.Exams {
		.content {
			.contentText {
				justify-content: start;
				p {
					text-align: start;
				}
			}
			.blocks {
				flex-wrap: wrap;
				justify-content: center;
				.block {
					width: 100%;
					height: 800px;
					margin: 0px;

					img {
						width: 100%;
						height: 600px;
						object-fit: cover;
					}
				}
				.boxes {
					margin-top: 50px;
					.box {
						width: 100%;
						justify-content: start;
					}
				}
			}
		}
	}
}

@media (max-width: 425px) {
	.Exams {
		.content {
			.contentText {
				h1 {
					font-size: 28px;
				}
				p {
					font-size: 16px;
				}
			}
			.blocks {
				// justify-content: start;
				.block {
					width: 100%;
					height: 395px;
					img {
						height: 200px;
						object-fit: cover;
					}
					.cambrige {
						font-size: 14px;
						margin-left: 16px;
					}
					h2 {
						font-size: 16px;
						margin: 10px 0px 5px 16px;
					}
					p {
						font-size: 12px;
						margin: 0px 0px 13px 16px;
					}
					button {
						a {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 375px) {
	.Exams {
		.content {
			.blocks {
				.boxes {
					.box {
						padding: 0;
						height: 271px;
						flex-direction: column;
						img {
							width: 100%;
							object-fit: cover;
							height: 121px;
							margin-left: 0px;
							border-top-right-radius: 8px;
							border-top-left-radius: 8px;
						}
						.boxContent {
							margin-left: 16px;
							margin-top: 13px;
							.Aptis {
								width: 76px;
								height: 23px;
								font-size: 14px;
							}
							h2 {
								font-size: 16px;
								margin: 10px 0px 5px 0px;
							}
							p {
								font-size: 12px;
								line-height: 15px;
							}
						}
					}
				}
			}
		}
	}
}
